@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome, this is an Adventure Works page using .NET Core 7.0 using razor pages focused on creating a SQL - C# powered backend</p>
</div>